<?xml version="1.0"?>
<config>
    <modules>
        <VES_CheckoutDiscountCode>
            <version>1.0.0.0</version>
        </VES_CheckoutDiscountCode>
    </modules>
    <frontend>
    	<secure_url>
            <checkoutdiscountcode_index>/checkoutdiscountcode/index</checkoutdiscountcode_index>
        </secure_url>
        <routers>
            <checkoutdiscountcode>
                <use>standard</use>
                <args>
                    <module>VES_CheckoutDiscountCode</module>
                    <frontName>checkoutdiscountcode</frontName>
                </args>
            </checkoutdiscountcode>
        </routers>
        <layout>
            <updates>
                <checkoutdiscountcode>
                    <file>ves_checkoutdiscountcode.xml</file>
                </checkoutdiscountcode>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>						
						<system>
                            <children>
                                <config>
                                    <children>
                                        <checkoutdiscountcode translate="title" module="checkoutdiscountcode">
                                            <title>Checkout Discount Code</title>
                                        </checkoutdiscountcode>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
	    <events>
	    	<controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <checkoutdiscountcode>
                        <type>singleton</type>
                        <class>checkoutdiscountcode/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_saveBilling</method>
                    </checkoutdiscountcode>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <controller_action_postdispatch_checkout_onepage_saveShipping>
                <observers>
                    <checkoutdiscountcode>
                        <type>singleton</type>
                        <class>checkoutdiscountcode/observer</class>
                        <method>controller_action_postdispatch_checkout_onepage_saveShipping</method>
                    </checkoutdiscountcode>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShipping>
	   	</events>
        <models>
            <checkoutdiscountcode>
                <class>VES_CheckoutDiscountCode_Model</class>
            </checkoutdiscountcode>
        </models>
        <blocks>
            <checkoutdiscountcode>
                <class>VES_CheckoutDiscountCode_Block</class>
            </checkoutdiscountcode>
            <checkout>
	            <rewrite>
	            	<onepage>VES_CheckoutDiscountCode_Block_Checkout_Onepage</onepage>
	            	<onepage_progress>VES_CheckoutDiscountCode_Block_Checkout_Onepage_Progress</onepage_progress>
	            </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <checkoutdiscountcode>
                <class>VES_CheckoutDiscountCode_Helper</class>
            </checkoutdiscountcode>
        </helpers>
    </global>
   
    <default>
		<checkoutdiscountcode>
			<config>
				<enable>1</enable>
				<remove_discount_box>1</remove_discount_box>
			</config>
		</checkoutdiscountcode>
    </default>
</config>