<?xml version="1.0"?>
<config>
    <modules>
       <Inic_Creditpayment>
          <version>0.1.0</version>
       </Inic_Creditpayment>
    </modules>
    <global>
        <helpers>
            <creditpayment>
                <class>Inic_Creditpayment_Helper</class>
            </creditpayment>
        </helpers>
        <models>
            <creditpayment>
                <class>Inic_Creditpayment_Model</class>
                <resourceModel>creditpayment_mysql4</resourceModel>
            </creditpayment>
              <creditpayment_mysql4>
                <class>Inic_Creditpayment_Model_Mysql4</class>
                <entities>
                    <creditpayment>
                        <table>customers_credit_applied</table>
                    </creditpayment>
                </entities>
             </creditpayment_mysql4>
            <checkout>
                <rewrite>
                    <type_onepage>Inic_Creditpayment_Model_Checkout_Type_Onepage</type_onepage>
                    <type_multishipping>Inic_Creditpayment_Model_Checkout_Type_Multishipping</type_multishipping>
                </rewrite>
            </checkout>
            <customer>
              <rewrite>
                  <customer>Inic_Creditpayment_Model_Customer</customer>
             </rewrite>
            </customer>
        </models>
        <resources>
            <creditpayment_setup>
                <setup>
                    <module>Inic_Creditpayment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </creditpayment_setup>
            <creditpayment_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </creditpayment_write>
            <creditpayment_read>
               <connection>
                <use>core_read</use>
              </connection>
            </creditpayment_read>
        </resources>
        <blocks>
                <creditpayment>
                    <class>Inic_Creditpayment_Block</class>
                </creditpayment>
             <adminhtml>
               <rewrite> 
                 <customer_edit_tab_account>Inic_Creditpayment_Block_Adminhtml_Customer_Editcustomer</customer_edit_tab_account> 
               </rewrite>
             </adminhtml>
        </blocks>
    </global>
    <default>
        <payment>
             <creditpayment>
                <specificcustomers>1,2,3,4</specificcustomers>
                <active>0</active>
                <model>creditpayment/method_creditpayment</model>
                <order_status>pending</order_status>
                <title>Credit Point Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </creditpayment>
         </payment>
    </default>
    <frontend>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_save_order_Credit>
                        <type>singleton</type>
                        <class>Inic_Creditpayment_Model_Observer</class>
                        <method>saveCredit</method>
                    </checkout_save_order_Credit>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_submit_all_after>
                <observers>
                    <checkout_save_multi_order_Credit>
                        <type>singleton</type>
                        <class>Inic_Creditpayment_Model_Observer</class>
                        <method>saveMultiCredit</method>
                    </checkout_save_multi_order_Credit>
                </observers>
            </checkout_submit_all_after>
            <payment_method_is_active>
                <observers>
                    <checkout_payment_available>
                        <type>singleton</type>
                        <class>Inic_Creditpayment_Model_Observer</class>
                        <method>isAvailable</method>
                    </checkout_payment_available>
                </observers>
            </payment_method_is_active>
            <sales_order_place_after>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>Inic_Creditpayment_Model_Observer</class>
                        <method>implementOrderStatus</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_place_after>
          </events>  
          <layout>
            <updates>
                <creditpayment>
                 <file>creditpayment.xml</file>
                </creditpayment>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <creditpayment>
                 <file>creditpayment.xml</file>
                </creditpayment>
            </updates>
        </layout>
         <events>
                <sales_order_creditmemo_refund>
                    <observers>
                        <Inic_Creditpayment_Updated>
                              <type>singleton</type>
                            <class>Inic_Creditpayment_Model_Observer</class>
                            <method>revertCredit</method>
                         </Inic_Creditpayment_Updated>
                    </observers>
               </sales_order_creditmemo_refund>   
           </events>
    </adminhtml>
     <admin>
      <routers>
         <adminhtml>
            <args>
               <modules>
                  <Inic_Creditpayment_Adminhtml before="Mage_Adminhtml">Inic_Creditpayment_Adminhtml</Inic_Creditpayment_Adminhtml>
               </modules>
            </args>
         </adminhtml>
      </routers>
   </admin> 
</config>