<?xml version="1.0"?>
<config>
    <modules>
        <MMD_Multiselectnavigation>
            <version>0.1.1</version>
        </MMD_Multiselectnavigation>
    </modules>
    
    <adminhtml>
        <translate>
            <modules>
                <MMD_Multiselectnavigation>
                    <files>
                        <default>MMD_Multiselectnavigation.csv</default>
                    </files>
                </MMD_Multiselectnavigation>
            </modules>
        </translate>
    </adminhtml> 
    <frontend>
        <routers>
            <multiselectnavigation>
                <use>standard</use>
                <args>
                    <module>MMD_Multiselectnavigation</module>
                    <frontName>multiselectnavigation</frontName>
                </args>
            </multiselectnavigation>
        </routers>  
            
        <translate>
            <modules>
                <MMD_Multiselectnavigation>
                    <files>
                        <default>MMD_Multiselectnavigation.csv</default>
                    </files>
                </MMD_Multiselectnavigation>
            </modules>
        </translate>
        <layout>
            <updates>
                <multiselectnavigation>
                    <file>multiselectnavigation.xml</file>
                </multiselectnavigation>
            </updates>
        </layout>
    </frontend> 
   
    <global> 
        <models>
            <multiselectnavigation>
                <class>MMD_Multiselectnavigation_Model</class>
            </multiselectnavigation>
        </models>     
    
        <blocks>
            <multiselectnavigation>
                <class>MMD_Multiselectnavigation_Block</class>
            </multiselectnavigation>
            <catalog>
                <rewrite>
        			<category_view>MMD_Multiselectnavigation_Block_Catalog_Category_View</category_view>
        		</rewrite> 
            </catalog>  
                      
            <catalogsearch>
                <rewrite>
        			<result>MMD_Multiselectnavigation_Block_Catalogsearch_Result</result>
        		</rewrite> 
            </catalogsearch>            
        </blocks>
        <helpers>
            <multiselectnavigation>
                <class>MMD_Multiselectnavigation_Helper</class>
            </multiselectnavigation>
        </helpers>
        <resources>
            <multiselectnavigation_setup>
                <setup>
                    <module>MMD_Multiselectnavigation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multiselectnavigation_setup>
            <multiselectnavigation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </multiselectnavigation_write>
            <multiselectnavigation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </multiselectnavigation_read>
        </resources>
    </global> 

    <default>       
            <multiselectnavigation>
				<settings>
					<cat_style>breadcrumbs</cat_style>
					<price_style>default</price_style>
					<remove_links>0</remove_links>
					<max_h>0</max_h>
				</settings>
            </multiselectnavigation>         
    </default> 
</config>